.profile-area {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 30px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
}

.profile-image-upload {
    position: relative;
    width: 150px;
    height: 150px;
}

.upload-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 24px; /* Aumenta o tamanho do ícone */
}

.form-control.is-valid {
    border-color: green;
}

.form-control.is-invalid {
    border-color: red;
}

.name-bio {
    flex-grow: 1;
    padding-left: 20px;
}

.profile-name,
.profile-bio {
    margin-bottom: 0.5rem;
}

.profile-bio {
    font-size: 0.8rem;
}

.btn-danger {
    float: right;
}

.col-md-8 {
    width: 80%;
}

.bar {
    width: 100%;
}

.tamanhaBtn {
    width: 200px;
}

.profile-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.profile-edit .name-bio {
    width: 100%;
}

.profile-edit .form-control {
    margin-bottom: 10px;
}

.profile-edit .btn {
    margin: 5px;
}
.clickable{
    cursor: pointer;
}