.post-header {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-header h4 {
    margin: 0;
}

.post-user-info {
    display: flex;
    align-items: center;
}

.post-menu {
    margin-left: auto;
    cursor: pointer;
}

.post-menu-options {
    position: absolute;
    top: 50px; /* Ajusta a posição vertical */
    right: 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.post-menu-options button {
    background: none;
    border: none;
    padding: 8px 16px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}

.post-menu-options button:hover {
    background: #f0f0f0;
}

.post {
    margin: 20px auto;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    max-width: 500px;
    background-color: white;
}

.post-image {
    width: 100%;
    height: auto;
    max-height: 450px; /* Limite de altura para a imagem */
    object-fit: cover; 
}

.post-caption {
    padding: 10px;
}

.like-section {
    display: flex;
    align-items: center;
}

.like-button {
    cursor: pointer;
}

.barraLike {
    flex-grow: 1;
    margin-left: 10px;
}

.comments-section {
    padding: 10px;
    max-height: 100px; /* Altura máxima da seção de comentários */
    overflow-y: auto; /* Adiciona barra de rolagem vertical */
}

.comment {
    margin-bottom: 5px;
}

.usernameComment {
    cursor: pointer;
}

.comment-form {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #e0e0e0;
}

.comment-form img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-form input {
    flex-grow: 1;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    padding: 5px 10px;
}

.comment-form button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    margin-left: 10px;
}

.footer {
    text-align: center;
    padding: 10px;
}
