.container {
    margin-top: 7rem;
}

/* Estilos gerais para os elementos de formulário */
.forgot-password-card {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.forgot-password-card h3 {
    margin-bottom: 20px;
}

.forgot-password-card .form-control {
    margin-bottom: 15px;
}

.forgot-password-card .btn-primary {
    margin-bottom: 10px;
}

.forgot-password-card .btn-link {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password-card .btn-link:hover {
    text-decoration: underline;
}

/* Modo escuro */
.dark-mode .forgot-password-card {
    background-color: #222;
    color: #ccc;
}

.dark-mode .forgot-password-card .form-control {
    background-color: #333;
    color: #ccc;
    border: 1px solid #444;
}

.dark-mode .forgot-password-card .btn-primary {
    background-color: #007bff;
    border: none;
}

.dark-mode .forgot-password-card .btn-link {
    color: #007bff;
}
